*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #000;
    font-family: 'Microsoft Yahei', sans-serif;
    font-size: 16px;
    overflow-x: hidden;

}

header{
    position: absolute;
    top: 10%;
    right: 100px;
    width: 450px;
    height: 80%;
    background: -ms-linear-gradient(top, #aedd81,  #068043);        /* IE 10 */

    background:-moz-linear-gradient(top,#aedd81,#068043);/*火狐*/

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aedd81), to(#068043));      /* Safari 4-5, Chrome 1-9*/

    background: -webkit-linear-gradient(top, #aedd81, #068043);   /*Safari5.1 Chrome 10+*/

    background: -o-linear-gradient(top, #aedd81, #068043);  /*Opera 11.10+*/

}

header article{
    position: relative;
    top: 2%;
    left: 10%;
    width: 80%;
    margin-top: 5%;
    font-family: cursive, "YouYuan", sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

header .motto{
    font-size: 2rem;
}

footer{
    position: relative;
    width: 100%;
    height: 10rem;
    color: #ffffff;
    font-family: 'Microsoft Yahei', sans-serif;
    font-size: 62.5%;
    line-height: 1.5rem;
    background: rgb(0, 51, 102);
}

#first_screen{
    position: relative;
    min-width: 100%;
    height: 100%;
    background: url('../res/background.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#timeline{
    position: relative;
    min-width: 100%;
    height: 1750px;
    background: #192d3e;
}

#Mylife{
    position: relative;
    width: 100%;
    height: 90vw;
    background: #8b987c;
}

#album{
    position: relative;
    width: 100%;
    height: 800px;
    background: #e6b454;
    overflow: hidden;
    perspective: 800px;
    -webkit-perspective: 800px;
}

#album_photo{
    position: relative;
    top: 20%;
    width: 100%;
    height: 80%;
    background: rgba(0,0,0,0.3);
    overflow: hidden;
}


.first_page{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.head_border{
    position: absolute;
    top: 5%;
    right: 130px;
    width: 450px;
    height: 80%;
    border: solid 20px #ffff00;
    box-sizing: border-box;
}

.logo{
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 8%;
    height: 100px;
}

.logo img{
    float: right;
    width: 100px;
    height: 100px;
}

.T_container{
    position: relative;
    width: 100%;
    height: 100%;
}

.T_title{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 11rem;
    height: 9rem;
}

.T_title section{
    width: 10.5rem;
    height: 7rem;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: "YouYuan", sans-serif;
    line-height: 3rem;
    text-shadow: 1px 1px 1px #ffffff,2px 2px 2px #ffffff;
}

.T_title aside{
    position: absolute;
    top: 6rem;
    width: 10.5rem;
    text-align: right;
    color: #ffffff;
    font-size: 2rem;
    font-family: Monotype Corsiva, sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
}

.T_aside p{
    position: absolute;
    top: 6rem;
    right: 5rem;
    width: 25rem;
    text-align: right;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'YouYuan', sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
}

.line{
    position: relative;
    left: 49%;
    height: 100%;
    width: 3px;
    background: #ffffff;
}

.T_content_left{
    position: relative;
    top: 200px;
    right: 35rem;
    width: 32rem;
    height: 18rem;
    background: rgb(60, 51, 118);
    border-radius: 8px;
    box-shadow: 1px 1px 10px #000;
    z-index: 91;
    cursor: pointer;
}

.T_content_right{
    position: relative;
    top: 200px;
    left: 3.5rem;
    width: 32rem;
    height: 18rem;
    background: rgb(40, 73, 100);
    border-radius: 8px;
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
}



.T_content_left>.T_text>.T_node,
.T_content_left>.T_text>.T_details,
.T_content_right>.T_text>.T_node,
.T_content_right>.T_text>.T_details{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
    opacity: 1;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.T_content_left>.T_text>.T_details{
    top: 30%;
    left: 0;
    text-align: left;
    text-indent: 2.8rem;
    word-wrap: break-word;
    opacity: 0;
}

.T_content_right>.T_text>.T_details{
    text-align: left;
    text-indent: 2.8rem;
    word-wrap: break-word;
    opacity: 0;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}



.T_text{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 99;
    overflow: hidden;
}

.T_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: inherit;
    opacity: 1;
    z-index: 90;
}


.T_content_left:before{
    content: '';
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 49%;
    right: -12px;
    border: 10px transparent solid;
    border-right-width: 0;
    border-left-color: #ffffff;
}

.T_content_left:after {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    background: #008fff;
    top: 51%;
    right: -3.5rem;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.T_content_right:before{
    content: '';
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 49%;
    left: -12px;
    border: 10px transparent solid;
    border-left-width: 0;
    border-right-color: #ffffff;
}

.T_content_right:after {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    background: #008fff;
    top: 51%;
    left: -3.9rem;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.M_container{
    width: 100%;
    min-height: 100%;
}

.M_title{
    position: absolute;
    top: 50px;
    left: 0;
    height: 6rem;
    width: 100%;
}

.M_title section{
    position: relative;
    width: 100%;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: "YouYuan", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px #fff;
}

.M_title aside{
    position: relative;
    width: 100%;
    top: -1rem;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: Monotype Corsiva, sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
}

.M_content{
    position: absolute;
    top: 9rem;
    left: 2%;
    width: 96%;
    background: rgba(255,255,255,0.3);
}

.M_text{
    position: relative;
    width: 33.333333%;
    height: 24vw;
    overflow: hidden;
    float: left;
}

.M_text figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffffff;
}

.M_text figcaption p{
    font-size: 1.125rem;
    color: #ffffff;
    width: 80%;
    height: 40%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;

}

.M_text img{
    height: 100%;
    opacity: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_0{
    background: #e8ddcb;
}

#M_content_1{
    background: #cdb380;
}

#M_content_2{
    background: #036564;
}

#M_content_3{
    background: #dc5712;
}

#M_content_4{
    background: #e58308;
}


#M_content_5{
    background: #f4d000;
}

#M_content_6{
    background: -ms-linear-gradient(top, #e8ddcb, #192d3e);

    background:-moz-linear-gradient(top,#e8ddcb,#192d3e);

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8ddcb), to(#192d3e));

    background: -webkit-linear-gradient(top, #e8ddcb, #192d3e);

    background: -o-linear-gradient(top, #e8ddcb, #192d3e);
}

#M_content_7{
    background: #3c3376;
}

#M_content_8{
    background: #7ccddb;
}

#M_content_0>figcaption>h2{
    position: absolute;
    top: 20%;
    left: 10%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_0>figcaption>p{
    position: absolute;
    bottom: -20%;
    left: 10%;
}

#M_content_0>figcaption>p:before{
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 5px;
    background: #ffffff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_0:hover>figcaption>h2{
    -webkit-transform: translate(0, -2rem);
    -moz-transform: translate(0, -2rem);
    -ms-transform: translate(0, -2rem);
    -o-transform: translate(0, -2rem);
    transform: translate(0, -2rem);
}

#M_content_0:hover>figcaption>p{
    -webkit-transform: translate(0, -90%);
    -moz-transform: translate(0, -90%);
    -ms-transform: translate(0, -90%);
    -o-transform: translate(0, -90%);
    transform: translate(0, -90%);
    opacity: 1;
}

#M_content_0:hover>img{
    opacity: 0.5;
}

#M_content_1>figcaption>h2{
    position: absolute;
    bottom: 20%;
    left: 10%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


#M_content_1>figcaption>h2:after{
    content: 'SUNSET';
    position: absolute;
    top: -3rem;
    left: 110%;
    color: #ffffff;
    width: 100px;
    height: 2rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
}

#M_content_1>figcaption>p{
    position: absolute;
    top: 30%;
    left: 10%;
}


#M_content_1:hover>figcaption>h2{
    -webkit-transform: translate(0, 2rem);
    -moz-transform: translate(0, 2rem);
    -ms-transform: translate(0, 2rem);
    -o-transform: translate(0, 2rem);
    transform: translate(0, 2rem);
}

#M_content_1:hover>figcaption>h2:after{
    -webkit-transform: translate(0, 3rem);
    -moz-transform: translate(0, 3rem);
    -ms-transform: translate(0, 3rem);
    -o-transform: translate(0, 3rem);
    transform: translate(0, 3rem);
    opacity: 1;
}

#M_content_1:hover>figcaption>p{
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
}

#M_content_1:hover>img{
    -webkit-transform: translate(-30px, 0);
    -moz-transform: translate(-30px, 0);
    -ms-transform: translate(-30px, 0);
    -o-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
    opacity: 0.5;
}

#M_content_2>figcaption>h2{
    position: absolute;
    top: 15%;
    right: 10%;
    width: 80%;
    height: 2rem;
    text-align: right;
}


#M_content_2>figcaption>h2:after{
    content: '';
    position: absolute;
    top: 2.25rem;
    right: 0;
    background: #ffffff;
    width: 100%;
    height: 4px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    -ms-transform: scale(0,1);
    -o-transform: scale(0,1);
    transform: scale(0,1);
}

#M_content_2>figcaption>p{
    position: absolute;
    top: 60%;
    left: 10%;
}

#M_content_2>img{
    position: absolute;
    top: 0;
    left: -30px;
}

#M_content_2:hover>figcaption>h2:after{
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
}

#M_content_2:hover>figcaption>p{
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
}

#M_content_2:hover>img{
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    transform: translate(30px, 0);
    opacity: 0.5;
}

#M_content_3>figcaption{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
}

#M_content_3>figcaption:before,
#M_content_3>figcaption:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_3>figcaption:before{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
}

#M_content_3>figcaption:after{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
}

#M_content_3>figcaption>h2{
    position: absolute;
    top: 10%;
    width: 80%;
    left: 10%;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_3>figcaption>p{
    position: absolute;
    top: 60%;
    left: 10%;
}

#M_content_3:hover>figcaption:before,
#M_content_3:hover>figcaption:after{
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

#M_content_3:hover>figcaption>h2{
    -webkit-transform: translate(0, 60%);
    -moz-transform: translate(0, 60%);
    -ms-transform: translate(0, 60%);
    -o-transform: translate(0, 60%);
    transform: translate(0, 60%);
}


#M_content_3:hover>figcaption>p{
    -webkit-transform: translate(0, -60%);
    -moz-transform: translate(0, -60%);
    -ms-transform: translate(0, -60%);
    -o-transform: translate(0, -60%);
    transform: translate(0, -60%);
    opacity: 1;
}

#M_content_3:hover>img{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 0.5;
}

#M_content_4>figcaption{
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
}

#M_content_4>figcaption:before{
    position: absolute;
    content: '';
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 1px solid #fff;
    opacity: 0;
}

#M_content_4>figcaption>h2{
    position: absolute;
    width: 80%;
    top: 35%;
    left: 10%;
    text-align: left;
}

#M_content_4>figcaption>p{
    position: absolute;
    top: 80%;
    left: 10%;
}

#M_content_4>img{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#M_content_4:hover>figcaption:before{
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 1;
}


#M_content_4:hover>figcaption>p{
    -webkit-transform: translate(0, -80%);
    -moz-transform: translate(0, -80%);
    -ms-transform: translate(0, -80%);
    -o-transform: translate(0, -80%);
    transform: translate(0, -80%);
    opacity: 1;
}

#M_content_4:hover>img{
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
}

#M_content_5>figcaption{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
}

#M_content_5>figcaption:before,
#M_content_5>figcaption:after{
    position: absolute;
    content: '';
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_5>figcaption:before{
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
}

#M_content_5>figcaption:after{
    top: -5%;
    left: 0;
    width: 100%;
    height: 110%;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
}

#M_content_5>figcaption>h2{
    position: absolute;
    top: 10%;
    width: 80%;
    left: 10%;
    text-align: left;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_5>figcaption>p{
    position: absolute;
    top: 40%;
    left: -10%;
}

#M_content_5>img{
    position: absolute;
    top: -2rem;
    left: -80px;
    height: 110%;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

#M_content_5:hover>figcaption:before,
#M_content_5:hover>figcaption:after{
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

#M_content_5:hover>figcaption>h2{
    -webkit-transform: translate(0, 2rem);
    -moz-transform: translate(0, 2rem);
    -ms-transform: translate(0, 2rem);
    -o-transform: translate(0, 2rem);
    transform: translate(0, 2rem);
}


#M_content_5:hover>figcaption>p{
    -webkit-transform: translate(25%, 0);
    -moz-transform: translate(25%, 0);
    -ms-transform: translate(25%, 0);
    -o-transform: translate(25%,0);
    transform: translate(25%, 0);
    opacity: 1;
}

#M_content_5:hover>img{
    -webkit-transform: translate(0, 2rem) scale(1.2, 1.2);
    -moz-transform: translate(0, 2rem) scale(1.2, 1.2);
    -ms-transform: translate(0, 2rem) scale(1.2, 1.2);
    -o-transform: translate(0, 2rem) scale(1.2, 1.2);
    transform: translate(0, 2rem) scale(1.2, 1.2);
    opacity: 0.5;
}

#M_content_6>figcaption>h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 24vw;
    color: #192d3e;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_6>figcaption>p{
    position: absolute;
    bottom: -20%;
    left: 10%;
}

#M_content_6:hover>figcaption>h2{
    color: #ffffff;
    -webkit-transform: translate(0, -3rem);
    -moz-transform: translate(0, -3rem);
    -ms-transform: translate(0, -3rem);
    -o-transform: translate(0, -3rem);
    transform: translate(0, -3rem);
}

#M_content_6:hover>figcaption>p{
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
    opacity: 1;
}

#M_content_6:hover>img{
    opacity: 0.5;
}

#M_content_7>figcaption>h2{
    position: absolute;
    top: -9rem;
    left: 10%;
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    z-index: 1000;
    color: #192d3e;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_7>figcaption>p{
    position: absolute;
    top: 20%;
    left: 7.5%;
    width: 85%;
}

#M_content_7>figcaption>p:before{
    content: '';
    position: absolute;
    top: -85%;
    left: -12.5%;
    width: 125%;
    height: 4.5rem;
    background: #ffffff;
    z-index: 99;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_7:hover>figcaption>h2{
    -webkit-transform: translate(0, 200%);
    -moz-transform: translate(0, 200%);
    -ms-transform: translate(0, 200%);
    -o-transform: translate(0, 200%);
    transform: translate(0, 200%);
}

#M_content_7:hover>figcaption>p{
    -webkit-transform: translate(0, 25%);
    -moz-transform: translate(0, 25%);
    -ms-transform: translate(0, 25%);
    -o-transform: translate(0, 25%);
    transform: translate(0, 25%);
    opacity: 1;
}

#M_content_7:hover>img{
    opacity: 0.5;
}

#M_content_8>figcaption>h2{
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80%;
    height: 6rem;
    line-height: 6rem;
    text-align: right;
    color: #ffffff;
}

#M_content_8>img{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

#M_content_8>figcaption>p{
    position: absolute;
    top: 10%;
    left: -5%;
    width: 44%;
}

#M_content_8>figcaption>p:after{
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    width: 1px;
    height: 100%;
    background: #ffffff;
    z-index: 99;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#M_content_8:hover>figcaption>p{
    -webkit-transform: translate(23%, 0);
    -moz-transform: translate(23%, 0);
    -ms-transform: translate(23%, 0);
    -o-transform: translate(23%, 0);
    transform: translate(23%, 0);
    opacity: 1;
}

#M_content_8:hover>img{
    -webkit-transform: translate(-2rem) scale(1.2,1.2);
    -moz-transform: translate(-2rem) scale(1.2,1.2);
    -ms-transform: translate(-2rem) scale(1.2,1.2);
    -o-transform: translate(-2rem) scale(1.2,1.2);
    transform: translate(-2rem) scale(1.2,1.2);
    opacity: 0.5;
}

.A_title{
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    height: 100px;
    width: 200px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.A_title section{
    position: relative;
    color: #ffffff;
    font-size: 3.5rem;
    text-align: center;
    font-family: "YouYuan", sans-serif;
    text-shadow: 1px 1px 2px #fff;
}

.A_title aside{
    position: relative;
    top: -2rem;
    color: #ffffff;
    text-align: right;
    font-size: 2rem;
    font-family: Monotype Corsiva, sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
}

.photo{
    width: 260px;
    height: 320px;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -130px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.01);

    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.photo .photo-wrap .side{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    top: 0;
    right: 0;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.photo .photo-wrap .side-front{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.photo .photo-wrap .side-front .image{
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}

.photo .photo-wrap .side-front .image img{
    width: 100%;
    vertical-align: middle;
}

.photo .photo-wrap .side-front .caption{
    text-align: center;
    font-size: 1rem;
    line-height: 50px;
}

.photo .photo-wrap .side-back{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.photo .photo-wrap .side-back .desc{
    color: #666;
    font-size: 87.5%;
    line-height: 1.3125rem;
}

.photo_center{
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -130px;
    z-index: 2;
}

.photo .photo-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;

    -webkit-transform-origin: 0% 50% 0;
    -moz-transform-origin: 0% 50% 0;
    -ms-transform-origin: 0% 50% 0;
    -o-transform-origin: 0% 50% 0;
    transform-origin: 0% 50% 0;
}

.photo_front .photo-wrap{
    -webkit-transform: translate(0, 0) rotateY(0deg);
    -moz-transform: translate(0, 0) rotateY(0deg);
    -ms-transform: translate(0, 0) rotateY(0deg);
    -o-transform: translate(0, 0) rotateY(0deg);
    transform: translate(0, 0) rotateY(0deg);
}

.photo_back .photo-wrap{
    -webkit-transform: translate(260px, 0) rotateY(180deg);
    -moz-transform: translate(260px, 0) rotateY(180deg);
    -ms-transform: translate(260px, 0) rotateY(180deg);
    -o-transform: translate(260px, 0) rotateY(180deg);
    transform: translate(260px, 0) rotateY(180deg);
}

.A_nav{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 25px;
    line-height: 25px;
    bottom: 4%;
    z-index: 3;
    text-align: center;
}

.A_nav .icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: #aaa;
    text-align: center;
    border-radius: 25px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.A_nav .icon_current{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.to_top{
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    z-index: 999;
}

.to_top:before{
    position: absolute;
    content: '';
    display: block;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    border: solid transparent 3px;
    border-top-color: #7a7a7a;
    border-left-color: #7a7a7a;
    -webkit-transform: translate(-50%, -30%) rotate(45deg);
    -moz-transform: translate(-50%, -30%) rotate(45deg);
    -ms-transform: translate(-50%, -30%) rotate(45deg);
    -o-transform: translate(-50%, -30%) rotate(45deg);
    transform: translate(-50%, -30%) rotate(45deg);
    opacity: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.to_top:after{
    content: 'TOP';
    font-family: 'Microsoft Yahei', sans-serif;
    font-size: 1rem;
    color: #7a7a7a;
    position: absolute;
    top: 12px;
    left: 6px;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.foot_top{
    position: absolute;
    top: 1rem;
}

.foot_center{
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.foot_bottom{
    position: absolute;
    bottom: 1rem;
}



.T_content_left:hover>.T_text>.T_node{
    -webkit-transform: translate(0, -300%);
    -moz-transform: translate(0, -300%);
    -ms-transform: translate(0, -300%);
    -o-transform: translate(0, -300%);
    transform: translate(0, -300%);
}

.T_content_left:hover>.T_text>.T_details{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

.T_content_left:hover>img,
.T_content_right:hover>img{
    opacity: 0.6;
}

.T_content_right:hover>.T_text>.T_node{
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    opacity: 0;
}

.T_content_right:hover>.T_text>.T_details{
    opacity: 1;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.to_top:hover:before{
    opacity: 0;
}

.to_top:hover:after{
    opacity: 1;
}

@media screen and (max-width: 1185px){
    .T_content_left{
        right: 29rem;
        width: 26rem;
    }

    .T_content_right{
        width: 26rem;
    }
    #Mylife{
        height: 140vw;
    }
    .M_text{
        width: 50%;
        height: 30vw;
    }
    #M_content_0>img{
        width: 100%;
        height: auto;
    }
    #M_content_8{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .T_aside p{
        top: 11.5rem;
        left: 5rem;
        width: 25rem;
        text-align: left;
    }
    #timeline{
        height: 1850px;
    }
    .line{
        position: relative;
        left: 80%;
        height: 100%;
        width: 3px;
        background: #ffffff;
    }
    .T_content_left,.T_content_right{
        left: auto;
        right: 35rem;
        width: 32rem;
        height: 18rem;
        margin-bottom: 1rem;
        -webkit-transform: translate(0, 50px);
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -o-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }
    .T_content_right:before{
        left: auto;
        right: -12px;
        border: 10px transparent solid;
        border-right-width: 0;
        border-left-color: #ffffff;
    }

    .T_content_right:after {
        top: 51%;
        left: auto;
        right: -3.5rem;
    }
}

@media screen and (max-width: 900px){
    #first_screen{
        background-position: center left;
    }
    .head_border,
    header{
        width: 400px;
    }
    #Mylife{
        height: 150vw;
    }
    .M_content{
        left: 0;
        width: 100%;
    }
    .M_text{
        height: 32vw;
    }
    .M_text figcaption p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 770px){
    .head_border,
    header{
        width: 330px;
    }
    header article{
        font-size: 2rem;
    }
    .line{
        left: 90%;
    }

    #Mylife{
        height: 565vw;
    }
    .M_content{
        left: 5%;
        width: 90%;
    }
    .M_text{
        width: 100%;
        height: 60vw;
    }
    .M_text figcaption p{
        font-size: 1.25rem;
    }
    #M_content_6>figcaption>h2{
        line-height: 40vw;
    }
    #M_content_8{
        display: block;
    }

}

@media screen and (max-width: 670px){
    .line{
        left: 95%;
    }
    #Mylife{
        height: 570vw;
    }
}

@media screen and (max-width: 630px){
    #timeline{
        height: 290vw;
    }
    .T_content_left,.T_content_right{
        right: 87vw;
        width: 80vw;
        height: 45vw;
    }
    .T_content_right:before,.T_content_left:before{
        border: 7px transparent solid;
        border-right-width: 0;
        border-left-color: #ffffff;
    }

    .T_content_right:after,.T_content_left:after{
        top: 50%;
        left: auto;
        height: 2vw;
        width: 2vw;
        right: -8.5vw;
    }
    #Mylife{
        height: 570vw;
    }
}

@media screen and (max-width: 500px){
    #first_screen{
        height: 133.333vw;
    }
    .head_border{
        left: 10%;
        width: 80%;
    }
    header{
        left: 15%;
        width: 80%;
    }

    header article,header .motto{
        font-size: 7vw;
    }
    .logo{
        left: auto;
        right: 10vw;
        width: 20vw;
        height: auto;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    #timeline{
        height: 300vw;
    }
    .T_title{
        top: 10vw;
        left: 10vw;
    }
    .T_title section {
        width: 36vw;
        font-size: 11.5vw;
        line-height: 10.5vw;
    }
    .T_title aside{
        right: 0;
        top: 20vw;
        font-size: 7vw;
    }
    .T_aside p{
        top: 39vw;
        left: 5vw;
        width: 90vw;
        font-size: 7.5vw;
    }
    .T_content_left,.T_content_right{
        top: 40vw;
    }
    .T_content_left>.T_text>.T_node,
    .T_content_left>.T_text>.T_details,
    .T_content_right>.T_text>.T_node,
    .T_content_right>.T_text>.T_details{
        font-size: 1rem;
    }

    #Mylife{
         height: 591.5vw;
     }
    .M_title{
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 30vw;
    }
    .M_title section{
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        font-size: 11.5vw;
    }
    .M_title aside{
        position: absolute;
        top: 50%;
        font-size: 7vw;
    }
    .M_content{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    .M_text{
        width: 100%;
        height: 62.5vw;
    }
    .M_text figcaption p{
        font-size: 1rem;
    }
    #M_content_3>figcaption>p,#M_content_5>figcaption>p{
        width: 85%;
        font-size: 87.5%;
    }
    #M_content_5:hover>figcaption>h2{
        -webkit-transform: translate(0, 50%);
        -moz-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
        -o-transform: translate(0, 50%);
        transform: translate(0, 50%);
    }
    #M_content_8>img{
        height: auto;
        width: 100%;
    }
    .photo{
        width: 196px;
        height: 240px;
    }
    .photo_center{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -120px 0 0 -98px;
    }
    .photo .photo-wrap .side-front .image{
        height: 180px;
        line-height: 180px;
    }
    .photo_back .photo-wrap{
        -webkit-transform: translate(196px, 0) rotateY(180deg);
        -moz-transform: translate(196px, 0) rotateY(180deg);
        -ms-transform: translate(196px, 0) rotateY(180deg);
        -o-transform: translate(196px, 0) rotateY(180deg);
        transform: translate(196px, 0) rotateY(180deg);
    }
    .photo .photo-wrap .side-back .desc{
        font-size: 0.75rem;
        line-height: 0.75rem;
    }

    .foot_bottom{
        width: 90%;
        bottom: 0.75rem;
    }

    .to_top{
        right: 5vw;
        bottom: 5vw;
    }
}

@media screen and (max-width: 350px){
    #timeline{
        height: 310vw;
    }
}
